            .w-webflow-badge {
                z-index: -2177483647!important;
                display: none!important;
            }
              body {
                  text-rendering: geometricPrecision;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  overflow-x: hidden;
                  overflow-y: scroll;
                  }
                .w-slider-dot { background: #e6eeff; }
                .w-slider-dot.w-active { background: rgba(7, 29, 73, 0.6); } 
                h1 {
                    padding: 5%;
                }
                textarea#TextBox {
                    border-radius: 20px!important;
                    }
                
@media screen and (min-width: 991px) {
  body.body {
    padding-top: 20vh;
  }
}
@media screen and (max-width: 990px) {
  body.body {
    padding-top: 7vh;
  }
}